/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
#ihc_account_page_wrapp .ihc-user-page-top-ap-background {
  display: none;
}
.ihc-user-page-top-ap-wrapper.ihc-ap-top-theme-3 {
  padding-top: 0!important;
}
#ihc_account_page_wrapp .ihc-left-side {
  display: none;
}
#ihc_account_page_wrapp .ihc-ap-menu, #ihc_account_page_wrapp .ihc-ap-menu .ihc-ap-menu-item {
  background: #3f9cc2 none repeat scroll 0 0;
}
@media screen and (min-width: 500px) {

#ihc_account_page_wrapp .ihc-ap-wrap {
  float: left;
  margin: 0 10px;
  width: 70%;
}
#ihc_account_page_wrapp .ihc-ap-menu {
  float: left;
  width: 20%;
}
}
#ihc_account_page_wrapp .ihc-ap-menu, #ihc_account_page_wrapp .ihc-ap-menu .ihc-ap-menu-item {
  background: #3f9cc2 none repeat scroll 0 0;
}
.ihc-ap-menu .ihc-ap-menu-item {
  width: 100%;
}


